/* Generales */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(bottom, #2f2f39, #222229);
    
}
body, html{
    font-family: $text_font;
    color: $color_texto;
}

h1,h2,h3,h4,h5,h6{
    font-family: $header_font;
    color: $color_acento;
    text-align: center;
}

a,a:visited{
    text-decoration: none;
    color: black;
}

main{
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8%;

}
.home_main, body.home_main {
    padding: 0px;
    background-color: $color_fondo;
    margin-bottom: 0px;
    background-image: none;

}
.carrousel-h{
    height: 98vh;
    object-fit: cover;
}
.carrousel_title{
    color: $color_acento;
    font-size: map-get($tamanio, large);
}
.cap-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

/* Contact */
.main-bg{
    background-image: url(../img/contact/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.form1{
    padding: 5%;
    margin: 5% auto;
    input:focus, textarea:focus{
        border: none;
        box-shadow: none;
        border-bottom: 3px solid $color_acento;        
    }
    label{
        color: $color_acento;
    }
}

.info-container{
    margin-top: 8%;
    background-color: $color_secundario;
    min-height: 250px;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    i {
        font-size: 2rem;
        color: $color_acento;
        margin-bottom: 1rem;
    }
    .info{
        position: relative;
        &:nth-child(1), &:nth-child(2){
            &::after{
                content: "";
                width: 1px;
                height: 130px;
                background-color: $color_texto;
                position: absolute;
                right: 0%;
                top: 0%;
                opacity: 0.6;
            }
        }
        h3{
            color: $color_texto;
            font-family: $text_font;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
        p{
            font-size: .875rem;
            color: $color_acento;
        }
    }

}
.pro-cont{
    background-image: url(../img/background_main.jpg);
    min-height: 300px;
    padding-top: 5%;
    padding-bottom: 5%;
    p{
        font-size: 0.875rem;
    }
    .container{
        max-width: 900px;
    }
    h2{
        margin-bottom: 5%;
    }
}
/* about us */
.about-main{
    padding: 0;
    margin: 0;
    padding-top: 62px;
    background-color: $color_secundario;
}
.about1{
    background-color: $color_secundario;
    display: flex;
    div:nth-child(1){
        padding: 5% 10%;
    }
    h1{
        text-align: left;
    }
    img{
        border-radius: 0 0 0 58px;
    }
}
.about2{
    background-color: $color_principal;
    display: flex;
    position: relative;
    h2{
        text-align: left;
    }
    
    div:nth-child(3){
        padding: 5% 10%;
        @include flexbox (center, center, column)
    }
    img{
        flex: 0 0 50%;
    }   
    .divider{
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
    }
    .divider2{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
}

.about3{
    position: relative;
    background-color: $color_fondo;
    color: $color_principal;
    min-height: 60vh;
    margin-top: -5px;
    padding-bottom: 5%;
    @include flexbox(center, center, column);
    h2, h3{
        color: $color_principal;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    h3{
        text-align: left;
        font-family: $text_font;
        font-size: map-get($tamanio, medium);
    }
    .history{
        max-width: 70%;
        margin: 0 auto;
    }
}
.about4{
    @include flexbox (center, center, row);
    img{
        width: 30%;
        flex-grow: 1;
        filter: saturate(30%);
        &:hover{
            transition: 0.5s;
            filter: saturate(100%);
        }
    }
}
/* Comentarios home */
.pers {
    background-color: $color_secundario;
    padding: 2rem;
    margin-bottom: 1rem;
    &.primero{
        margin: 0 auto;
        margin-bottom: 1rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        p{
            width: 50%;
            margin: 1rem auto;
        }
    }
    div{
        width: 100%;
        max-width: 400px;
         
    }
    img{
        height: 64px;
        width: 64px;
        border-radius: 100%;
        object-fit: cover;
    }
    .comillas{
        position: relative;
        margin: 0 auto;
        img{
            border-radius: 0;
            object-fit: contain;
            width: 54px;
        }
        &::before{
            position: absolute;
            content:"";
            background-color: #dfe1e6;
            height: 1px;
            width: 100px;
            left: 0;
            top: 50%;
        }
        &::after{
            position: absolute;
            content:"";
            background-color: #dfe1e6;
            height: 1px;
            width: 100px;
            right: 0;
            top: 50%;            
        }
    }

}