
.card_title{
    margin-top: 5%;
}
.cards{
    display: flex;
    justify-content: center;
    
}
.card{
    
    height: 250px;
    width: 200px;
    background-color: $color_acento;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 3px 3px 30px 8px #1b1b1b;
    transition: all 1s ease;
    cursor: pointer;
    
}
.card-cont{
    margin: 4% 3%;
    &:hover .card{
        transform: rotateY(180deg);
    }
}
.card_front{
    width: 100%;
    height: 100%;
    background-size:cover;
    position: absolute;
    
}
.card1{
    background-image: url(../img/others/bass1.jpeg);
}
.card2{
    background-image: url(../img/lapsteelguitar.jpg);
}
.card3{
    background-image: url(../img/guitarrosette.jpg);
}
.card_back{
    width: 100%;
    height: 100%;
    background-color: $color_principal;
    
    transform: rotateY(180deg) translateZ(1px);
    p{
        margin: 10px 0px;
        text-align:center;
    }
}
.bg_card{
    height: 15%;
    width: 100%;
    background-color: $color_secundario;
    
    @include flexbox (center, center, row);
    h1{
        font-size: 20px;
        color: $color_acento;
        transform: translateY(5px); 
    }  

} 
.cont_card {
    width: 100%;
    
    @include flexbox (center, center, row);
    a{
        background-color: $color_acento;
        padding: 10px 20px;
        color: #fff;
    }    
}
