/* Home */
@media only screen and (max-width:768px){
    .change{
        order: 2;
    }
    #indianrosewoodguitars div{
        width: 100%;
        max-width: 500px;
    }
    .circles{
        grid-template-columns: 1fr;
    }
    #sopran_ukulele{
        width: 100%;
        max-width: 500px;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .info-container{
        min-height: 400px;
        padding-top: 3rem;
        padding-bottom: 1rem;
        div{
            margin-bottom: 3rem;
        }
        .info::after{
            display: none;
        }
    }
    .carrousel-h{
        height: 50vh;
    }
    .footer{
        div{
            @include flexbox (center, center, column)
        }
    }
    .pro-cont{
        padding-top: 3rem;
        h2{
            padding-bottom: 2rem;
        }
    }
    .pers{
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 90%;
        margin-right: auto;
    }
    .pers.primero{
        padding: 2rem;
        p{
            width: auto;
        }
        .comillas{
            img{
                width: 32px;
            }
            &::before, &::after{
                width: 70px;
            }
        }
    }
    
}