nav {
    background-color: transparent;
    div {
        a.logo{
            color: $color_acento;
            font-family: $header_font;
            font-size: 1.5rem;
            }
            a.nav_links.active{
                font-weight: bold;
                color: $color_acento;
            }
            a.nav_links{
                color: $color_texto;
                &:hover, &:active{
                    color: $color_acento;
                }  
            }
        ul.dropdown_dark{
            background-color: $color_principal;
        }
        .dropdown-item.active{
            background-color: $color_principal;
        }
    }
    .inst_hover:hover{
        background-color: $color_principal;
    }

}
