$color_principal: #222229;
$color_texto: #f3f3f3;
$color_acento: #fcbf7c;
$color_acento_secundario: darken($color_acento,20%);
$color_secundario: #2f2f39;
$header_font: "Cormorant Unicase",serif;
$text_font: "Raleway",sans-serif;