/* Generales */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body, html{
    font-family: "Telex",sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Amiri",serif;
    color: #9B683E;
}
.logo{
    color: #9B683E;
    font-size: 1.5rem;
}
.active{
    font-weight: bold;
}
.nav_links{
    color: #676767
}

a,a:visited{
    text-decoration: none;
    color: black;
}

main{
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 8%;

}

.footer{
    background-color: #958D76;
    display: flex;
    justify-content: center;
}
.footer div{
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
.footer a{
    margin: 0 20px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
/* Home */
@media only screen and (max-width:768px){
    .change{
        order: 2;
    }
}
.card{
    height: 250px;
    width: 200px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 50px 8px black;
    transition: all 1s ease;
    cursor: pointer;
    margin: 10% 10%;
}
.card:hover{
    transform: rotateY(180deg);
}

.card_front{
    width: 100%;
    height: 100%;
    background-image: url(/img/8.png);
    background-size:cover;
    position: absolute;
    

}
.card_back{
    width: 100%;
    height: 100%;
    background-color: white;
    transform: rotateY(180deg) translateZ(1px);
    
}
.card_back p{
    margin: 10px 0px;
    text-align:center;
}
.bg_card{
    height: 15%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
       

}
.bg_card h1{
    font-size: 20px;
    color: #fff;
    transform: translateY(5px); 
}
.cont_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cont_card a{
    background-color: green;
    padding: 10px 20px;
    color: #fff;
}
/* Classical Guitars page grid */
.guitar_grid a img{
    width: 130px;
    height: 130px;
    border: #9B683E 6px solid;
    border-radius: 50%;
    object-fit: cover;
}
#indianrosewoodguitars div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    max-width: 1000px;
    margin: 0 auto;

}
#indianrosewoodguitars img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.tall{
    grid-row: span 2 / auto
}

.circles a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
    margin-bottom: 3%;
}
.circles img:hover{
    transform: translateY(-4px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}
/* ukuleles page grid */
.ukulele_grid{
    display: grid;
}
.uku_circles a img{
    width: 130px;
    height: 130px;
    border: #9B683E 6px solid;
    border-radius: 50%;
    object-fit: cover;
}
.uku_circles a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uku_circles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    margin-bottom: 3%;
}
.uku_circles img:hover{
    transform: rotateY(360deg);
    transition: all 1.5s ease;
}
#sopran_ukulele img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
}
#tenor_ukulele img{
    width: 100%;
    height: 100%;
    align-items: center;
    object-fit: cover;
}
#sopran_ukulele div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    max-width: 1000px;
    margin: 0 auto;
}
#tenor_ukulele div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (max-width:768px){
    #indianrosewoodguitars div{
        width: 100%;
        max-width: 500px;
    }
    .circles{
        grid-template-columns: 1fr;
    }
    #sopran_ukulele{
        width: 100%;
        max-width: 500px;
    }
}
/* Contact */
.form1{
    padding: 5%;
    margin: 5% auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
